<!DOCTYPE html>
<html>
<head>
    <title>WebSanpo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to WebSanpo!</h1>
    <h3>Please select a location.</h3>
    <div id="map" style="height: 500px; width: 100%;"></div>
    <p id="output"></p>
    <script src="{{ url_for('static', filename='fetchOverpassData.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>
</body>
</html>
